.page-header
  %h1
  Change cash register balance
.page-body

  = form_for :anything, url: "/audits/edit" do |form|
    = form.number_field :balance, value: @register_balance
    enter new balance here
    .br
    = submit_tag("change balance")