@import "bootswatch/slate/variables";
@import "bootstrap";
@import "bootstrap/theme";
@import "formtastic-bootstrap";
@import "bootswatch/slate/bootswatch";

@import "letters";

// make room for navigation bar
body { padding-top: 70px; }

.navbar-brand {
  background-image: image_url('mete-logo.svg');
  background-position: 0.5em 0.5em;
  background-repeat: no-repeat;
  background-size: 2em;
  padding-left: 3em;
}

img.disabled {
  //see http://blog.nmsdvid.com/css-filter-property/
  //see http://stackoverflow.com/a/11842712
  filter: grayscale(100%) contrast(30%);
}
  
.drinks{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .drink{
    width: 120px;
    .drink-panel {
      .panel-header{
        margin-top: -5px;
        height: 15px;
      }
      display: flex;
      flex-direction: column;
      height: 100px;
      width: 100px;
      .panel-footer{
        padding: 0px;
      }
      .panel-body{
        padding: 0;
        padding-top: 20px;
        .drink-img{
          height: 100%;
          width: auto;
          padding-bottom: 1px;
        }
      }
    }
  }
}

.panel-body {
  flex: 1 1 0;
  overflow: hidden;
}

a.btn {
  &,
  &:hover,
  &:active {
    text-decoration: none;
  }
}
.user-view{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.panel-default{
  margin-left: -10px;
  margin-right: -10px;
}
.cash-button{
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.User {
  height: 125px;

  .panel-header {
    position: absolute;
    width: calc(100% - 45px);
    overflow: hidden;
    margin-left: 15px;
    word-wrap: break-word;
  }

  .panel-body {
    margin-top: 33px;
  }
}